<form action="/pizzeria" method="post">
    
    <input class="col-12 mb-5 form-control-lg" type="text" name="pizzeria" id="pizzeria" placeholder="name of the pizzeria">
    <input class="col-12 mb-3 p-3 form-control-lg" type="text" name="url" id="url" placeholder="picture url">
    <div class="d-flex justify-content-end">

        <input class="btn btn-outline-success btn-lg " type="submit" value="submit">
    </div>

</form>