<form action="/pizzeria" method="post">
    <input type="text" name="pizzeria" id="pizzeria" placeholder="name of the pizzeria">
    <input type="text" name="url" id="url" placeholder="picture url">
    <input type="submit" value="submit">

</form>