
<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container">
    <div class="jumbotron">
        <h1>create a new pizzeria</h1>
    </div>
    <%- include("partials/form") %>
</div>
<%- include("partials/footer") %>